@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn jjabout <a href="https://docs.microsoft.com/aspnet/core">building Web appfs with ASP.NET Core</a>.</p>
</div>
